<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdbigdata.cxcy.mapper.ProjectCheckNodeTemplateMapper">
  <resultMap id="BaseResultMap" type="com.xdbigdata.cxcy.model.domain.ProjectCheckNodeTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="prev_id" jdbcType="INTEGER" property="prevId" />
    <result column="next_id" jdbcType="INTEGER" property="nextId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, prev_id, next_id, role_id
  </sql>
</mapper>